@page "/newOnboarding"

@using AssetManagement.Client.Client;
@using AssetManagement.Client.Pages.GridComponent
@using AssetManagement.Client.Shared.Popup
@using AssetManagement.Client.Shared
@using AssetManagement.Dto.Models;
@using System.Globalization;
@inject AppClient client
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@attribute [Authorize]

<div class="card">
    <div class="card-header" style="padding: 8px !important; display: flex; align-items: center;">
        <a href="employees" class="btn btn-outline-secondary btn-sm">
            <i class="fa fa-arrow-left" aria-hidden="true"></i> Back
        </a>
        <div style="margin-left: auto;">
            <Breadcrumb Items="breadcrumbItems" />
        </div>
    </div>

    <div class="card-body">
        <EmployeeOnboardingGrid />
    </div>
</div>
@code {
    private List<ClientBreadcrumbItem> breadcrumbItems = new();

    protected override void OnInitialized()
    {
        breadcrumbItems = new()
        {
            new ClientBreadcrumbItem { Text = "Home", Url = "/" },
            new ClientBreadcrumbItem { Text = "Employees", Url = "/employees" },
            new ClientBreadcrumbItem { Text = "Onboarding", IsActive = true }
        };
    }
}
